<ng-container *ngTemplateOutlet="logo"></ng-container>
<!--
<p>
  <ng-container *ngTemplateOutlet="flagLogo? logo:logoSmall"></ng-container>
</p>
-->
<p>
  <ng-container [ngSwitch]="role">
    <ng-container *ngSwitchCase="'admin'">
      <ng-container *ngTemplateOutlet="headerAdmin"></ng-container>
        <!--  < *ngSwitchCase="'admin'" componente-header-admin></>-->
    </ng-container>

    <ng-container *ngSwitchCase="'manager'">
        <ng-container *ngTemplateOutlet="headerManager"></ng-container>
      </ng-container>
  </ng-container>
</p>
<employee-list></employee-list>
<ng-container *ngTemplateOutlet="logo"></ng-container>

<ng-template #logo>
  <img class="logo-top" src="./assets/logo-top.png" alt="">
</ng-template>

<ng-template #logoSmall>
  <img class="logo-top-small" src="./assets/logo-top.png" alt="">
</ng-template>

<ng-template #headerAdmin>
  <!--  <componente-header-admin></componente-header-admin> -->
</ng-template>

<ng-template #headerManager>
    <!--  <componente-header-manager></componente-header-manager> -->
</ng-template>

